irc:
  Example-IRC:
    server: irc.example.com
    port: 6667
    ssl: False
    nick: TwistedPrism
    user: TwistedPrism
    realname: TwistedPrism
    pass: secret
    lineRate: 1
    heartbeatInterval: 30
    channels:
      "#test":
        key: secret
      "#muffins":
    users:
      bob:
      alice:
    default_channels:
      "#test":
    default_users:
      "alice":

xmpp:
  user@example.com:
    pass: secret
    users:
      bob@example.com:
      fred@example.com:

netcat:
  port: 1079

http:
  port: 8080
